
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* .cam_css{
    
 padding-top: 50px;
    width: 400px;
    height:400px;
    display: flex;
    margin-left: 12px;
   justify-items: center;

}
.whole_cnt{
     width: 500px;
     height: 500px;
     background-color: aliceblue;
left: 30%;
top: 20%;
     position: absolute;
     
  
    
     border: 5px solid rgb(193, 225, 12);
}
.btn{
  
   display: flex;
   justify-content: center;
}
.btn1,.btn2{
   margin-left: 5px;
   padding-top: 5px;
}

@media (max-width:768px) {
    .cam_css{
    
        padding-top: 50px;
           width: 200px;
           height:200px;
        
           margin-left: 65px;
          
       
       }

       .whole_cnt{
        width: 350px;
        height: 300px;
        background-color: aliceblue;
       position: absolute;
       left: 30%;
       top: 25%;
        border: 5px solid rgb(193, 225, 12);
   }

} */



.appvide{
   display: flex;
   align-items: center;
   
  
 }
 
 .appcanvas{
   position: absolute; 
   justify-content: center;
   /* top: 100px */
   /* margin-left: 50%; */
   
 }
 
 .myapp{
   display: flex;
   border: 3px yellow solid;
   width: 600px;
   height: 500px;
   background-color: rgba(14, 15, 16, 0.838);
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
 }

 .whole_cnt{
   padding-top: 10px;
     margin-left: 10%;
     /* background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );  */
 }
 .vedo_bk{
  background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
  height: 700px;
}

 .btn2,.btn3{
   margin-left: 5px;
 }
 .btn_cnt_atten{
  display: flex;
  justify-content: center;
  padding-top: 5%;
 }

 @media (max-width:768px){
    
     .myapp{
      display: flex;
      border: 3px yellow solid;
      width: 300px;
      height: 250px;
      background-color: rgba(14, 15, 16, 0.838);
      flex-direction: column;
      align-items: center;
      /* justify-content: space-between; */
    }
    .btn_cnt_atten{
      display: flex;
      padding-top: 3%;
      justify-content: center;
    }
    .vedo{
      width: 250px;
      height: 250px;
    }
    .appcanvas{
    width: 250px;
    height: 200px;
    }
 }
 