#home_bk{
  background: rgb(30,3,84);
  background: linear-gradient(248deg, rgba(30,3,84,1) 11%, rgba(65,13,99,1) 49%, rgba(102,23,115,1) 100%);
height: 700px;
}
.btn_cnt{
    display: flex;
    justify-content: center;
  padding-top: 100px;
}
.heading{
  color: aliceblue;

}

.btn_div{
 
    margin-left: 10px;
}

@media (max-width:768px){
  .btn_cnt{
    display: block;
   
   

  }
  .btn_div{
   margin-top: 5px;
   display: flex;
   justify-content: center;

  }
  .heading{
    display: flex;
    justify-content: center;
    color: aqua;
  }
 
}